* {
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
}
/*================================Home======================================*/
#home {
    width: 100%;
    height: 42vh;
}

.container {
    text-align: center;
    position: relative;
    top: 35%;
}

.container h1 {
    font-size: 80px;
}

.container .btn {
    width: 28%;
    font-size: 25px;
    text-align: center;
    height: 45px;
    border-radius: 20px;
}

#home h1{
    position: relative;
    bottom: 25px;
}
#home .opebBtn{
    position: relative;
    bottom:5vh;
    right: 24px;
    /*width: 120%;*/
    /*height: 18vh;*/
}
#home .opebBtn h1{

}

#home .opebBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
/*======================================Home End====================================================*/

/*======================================Register====================================================*/
#register {
    height: 40vh;
    width: 100%;
}

#register .btnsLogin {
    text-align: center;
}
#register .btnSignup {
    background-color: #0dcaf0;
    border-radius: 20px;
}

#register .formLogin {
    content: "";
    display: table;
    clear: both;
}

#register .formLogin input {
    width: 20vw;
}

#register .column {
    float: left;
    width: 50%;
}

/*======================================Register====================================================*/

/*======================================DashBoard====================================================*/
#dashboard {
    min-height: 100vh;
    width: 100%;
}
/*======================================DashBoard End====================================================*/

/*======================================LoginForm====================================================*/
#loginform {
    min-height: 80vh;
    width: 100%;
}
.cardd {
    margin: 40px auto;
    align-content: center;
    width: 25%;
    height: 454px;
    background: #0d6efd;
    border-radius: 30px;
}

.btnsLogin {
    margin-top: 35px;
    text-align: center;
}

.cards {
    margin: 40px auto;
    align-content: center;
    width: 45%;
    height: 520px;
    background: #0d6efd;
    border-radius: 30px;
    position: relative;
    bottom: 14px;
}

#loginform #email_error,
#loginform #password_error {
    margin-top: 5px;
    width: 300px;
    font-size: 12px;
    color: #C62828;
    background: rgba(2555, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}

#loginform .submitLogin {
    background-color: #0dcaf0;
    border-radius: 20px;
}
/*======================================End LoginForm====================================================*/


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 28.5%;
    height: 28.5vh;
    transition: 0.3s;
    object-fit: contain;
}

.card img {
    height: 200px;
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.cardd:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/*======================================Rental Car Guest====================================================*/

/*General Cars*/

#cars .cardds{
    display: flex;
    justify-content: center;
}
#cars .cardds .card{
    margin-left: 40px;
    width: 20%;
    height: 240px;

}
#cars .cardds .cardd{
    width: 20%;
    height: 240px;

}
#cars .cardds .card-img{
    object-fit: contain;
}

#cars .cardds .card a{
    margin-top: 20px;
    border-radius: 20px;
}

/*======================================End Rental Car Guest====================================================*/
